<div class="setBackground">
	<form >
		<p>

			<i class="margins fa fa-pencil"></i><input class="margins" type="text" name="description" 
			placeholder="What was this spent for?" [(ngModel)]="spendFor" required><br/>

			<i class="margins fa fa-inr"></i><input class="margins amountSet" type="number" name="amount" placeholder="Enter amount" [(ngModel)]="amountSpend" required><br/>

			<i class="margins fa fa-calendar-o"></i><input name="date" class="margins" type="date" [(ngModel)]="paymentDate" required /><br/>

			
			Category <select name="selectOne" [(ngModel)]="category" >
			<option value="Bill" name="bill">Bill</option>
			<option value="Entertainment" name="bill">Entertainment</option>
			<option value="FoodDrink" name="bill">Food/Drink</option>
			<option value="Investment" name="bill">Investment</option>
		</select>

	</p>

	<button type="submit" class="margins buttonColor" (click)="addNewExpense(spendFor,amountSpend,paymentDate,category)">Save</button>


</form>
</div>